<h1>Volume Shares </h1>
<style type="text/css">
	
	     .overmap { display: none; height: 80px; width: 100px; position: absolute; top:200px; left: 10px; z-index: 99; background-color: white; border: 2px solid black; padding: 7px; }

</style>

<div class="row panel">
<div style=" height: 800px;  line-height: 1200px;  text-align: center;" class="col-lg-1">
<center>
	Beer Sales
</center>
</div>
<div style="max-width:800px; max-height:900px; border-right:2px dashed black" class="col-lg-7 panel">
<div style="max-width:800px; max-height:900px">
<canvas id="myChart" width="700" height="450"></canvas>
</div>
<script>
var data = { 
         labels: [2013, 2014 , 2015 , 2016 ],
         datasets: [{
            label: '# Sales',
            fillColor: [
                'rgba(179,181,198,1)' ,  'rgba(179,181,198,1)' ,  'rgba(179,181,198,1)' , 'rgba(179,181,198,1)'
            ],
            borderColor: [
               'rgba(179,181,198,1)' ,  'rgba(179,181,198,1)' ,  'rgba(179,181,198,1)' , 'rgba(179,181,198,1)'
            ],
            
                pointBackgroundColor: "rgba(179,181,198,1)",
                pointBorderColor: "#fff",
                pointHoverBackgroundColor: "#fff",
                pointHoverBorderColor: "rgba(179,181,198,1)"  ,
                data: [ 0.965 , 0.958 , 0.9271 , 0.9731]        }]
    };
var ctx = document.getElementById("myChart").getContext("2d");



var chartInstance = new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});</script> 
 <br/> 
<center>Time -> </center>
</div>

<div class="col-lg-4 panel" >
<h2> Actionable Insights </h2>
<ul style="font-size: 22px;">
    <li> Volume Share is quite promising and totally worth investing in. 
    </li> 
    <li> The probablity of making better profits while investing in Volume share looks good. </li>
</ul>
</div>
</div>